<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color:#c0c0c0">
    <h1><%= @user.username %>!   Welcome to Cody-Facebook.</h1>
    <p>
      You have successfully signed up to Cody-Facebook.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p> 
      To login to the site, just follow this link: <%= link_to "Cody-Facebook", @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>