<div class="wrap">
  <h1>All Users</h1>

  <ul>

  <% @users.each do |a| %>
    <li><%= link_to image_tag(a.avatar(:tiny)), user_path(a) %><%=a.username %><%= button_to "Send Request", friend_request_index_path(:params => {:user_id => current_user.id, :recipient => a.id}) %></li>

  <% end %>
  </ul>
</div>