/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.alert {
   font-weight: bold;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   margin-bottom: 18px;
   padding: 12px 25px 12px 24px;
   -moz-box-shadow: 3px 3px 1px 1px #CCCCCC;
   -webkit-box-shadow: 3px 3px 1px 1px #CCCCCC;
   box-shadow: 3px 3px 1px 1px #CCCCCC;
}
.alert-success {
  background-color: green;
  }
  

.wrap{
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #446ABD),
	color-stop(1, #061126)
);
background-image: -o-linear-gradient(bottom, #446ABD 0%, #061126 100%);
background-image: -moz-linear-gradient(bottom, #446ABD 0%, #061126 100%);
background-image: -webkit-linear-gradient(bottom, #446ABD 0%, #061126 100%);
background-image: -ms-linear-gradient(bottom, #446ABD 0%, #061126 100%);
background-image: linear-gradient(to bottom, #446ABD 0%, #061126 100%);

}



.header {
  background-color: blue;
  padding: 15;
  margin-top: 0;


  }

.user_nav {
  float: right;
  margin-top: 15px;
  }
.logo {
  color: white;
  font-weight: bolder;
  font-size: 200%;
  padding: 10px;
  margin: 5px;

  
  }
  
.individual_post {
background-color: white;
  border: 2px solid black;
  border-radius : 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 10px 10px 5px #888888;
  p {
     margin-top: 10px;
  }
  .post_time {
    font-size: 75%;
    }
   .title {
     font-weight: bolder;
   
   }
   
    }
    
    
  
  
  
  
.sidebar {
  width: 20%;
  border: 2px solid blue;
  float: left;
  }
.post_list {
  width: 50%;
  border: 2px solid green;
  float: left;
  background-color: #fcfbe3;
  }
  
.friendbutton {
  border-radius: 4px;
  }
  
.footer {

  position: fixed;
  bottom: 0;
  }
  .footer-nav {
    float: right;
    }
    
.comments_in_post {
  border: 2px solid black;
  width: 70%;
  margin-left: 30%;
  }
  
  
 
  