<div class = "footer" >
  <div class="right-side" >
    <div class = "footer_nav" >

    <% unless current_user.nil? %>
          <a href="/">My Wall</a>
          <%= link_to "Edit my Profile", edit_profile_path(current_user), method: 'get' %>
    <% end %>
  </div>
  <div class = "signature" >
    <p>Created by <a href="http://www.github.com/cgipson06">Cody Gipson</a></p>
  </div>
  </div>
</div>
