<div class = "footer" >
  <div class = "footer_nav" >
    <a href="/">My Wall</a>
  </div>
  <div class = "signature" >
    <p>Created by <a href="http://www.github.com/cgipson06">Cody Gipson</a></p>
  </div>
  
</div>
