

    <div class="individual_post" >
      <p class="author"><%= a.author %></p>
      <p class="title"><%= a.title %></p>
      <p class="content"><%= a.content %></p>
      <p class="post_time"><%= a.created_at %></p>
    </div>
